/* Light Theme */
:root {
  --background-color: white;
  --link-color: darkred;
  --text-color: black;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

a { 
  color: darkred;
  text-decoration: none;
}

a:focus, a:hover {
  color: var(--link-color);
  text-decoration: underline;
}
